body{
    background-color: #282a36;
    margin: 0;
}
.page-landing{
    background-color: #44475a;
    margin-left: 20%;
    margin-right: 20%;
    min-height: 92vh;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;

}
button{
    background-color: #6272a4;
    border: none;
    color: white;
    height: 36px;
    border-radius: 5px;
    cursor: pointer;
}

input{
    background-color: #282a36;
    border: none;
    height: 32px;
    width: 40vw;
    padding-left: 1vw;
    color: white;
}
.header{
    text-align: center;
}
h1{
    color: #50fa7b;
}
.content{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
ul{
    padding-left: 0;
}
li{
    color: white;
    background-color: #6272a4;
   /* box-shadow: -5px 5px 3px #282a36;*/
    list-style-type: none;
    width: 50vw;
    min-height: 70px;
    margin-bottom: 8px;
    padding: 5px;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

a{
    font-size: 24px;
    text-decoration: none;
    color: white;
}
img{
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    border-radius: 50%;
}
.userBox{
    padding: 2rem 1rem 1rem ;
    display: flex;
    
}
.imgBox{

}
.textBox{
    padding-left: 2rem;
}
.name{
    line-height: 0px;
    color: white;

}
.company{
    color: white;
    font-size: 1.2rem;
}
.bio{
    color: white;
}
.location{
    color: white;
    font-size: 14px;

}
.repoBox{
    align-self: center;
}